* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.header-nav {
    background-color: blueviolet;  
}
.parent-nav {
    display: flex;
    height:130px;
    width:100%;
}
ul.nav-links {
    align-items: center;
    display:flex; 
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 80%;

}
.nav-links li {
    list-style-type: none;
}
.nav-links li a {
    text-decoration: none;
}
#container {
    width: 100%;
}
#grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px 300px;
}
#page-pointer {
    align-items: center;
    background: #ffff;
    justify-content: center;
    left: 30%;
    margin: 6% 2%;
    position: absolute;
    top: 20%;
    width: 40%;
}
.courses-1 {
    background: #ed234c;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
.courses-2 {
    background: #0f234c;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
.courses-3 {
    background: #dd23aa;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}
.courses-4 {
    background: #ccf3bb;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
/* article one and two - grid: */
#article-parent, #article-parent-2 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 300px;
    background-color: aqua;
}
.article-one {
    background-color: pink;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
.article-two {
    background-color: burlywood;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
.article-three {
    background-color: goldenrod;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}
/* news letter and membership: */
#newletter-section {
    display: flex;
    flex-direction: row;
    height: 600px;
    margin: 20px 20px;
    justify-content: space-around;
    width: 100%;
}
#newletter-section .box-1 {
    background: #ef2adc;
    width: 30%;
}
#newletter-section .box-2 {
    background: #efdcee;
    margin: 0px 30px;
    width: 70%;
}
/* link alone: */
.link-see-more {
    background-color: #ed234c;
    display: flex;
    height:10em;
    margin: 20px 20px;
    width: 98%;
}
.content-blocks {
    background: #acedff;
    display: flex;
    flex-direction: column;
    height:10em;
    margin: 10px 0px;
    width: 100%;
}
.author-special-block {
    background: #1eedff;
    display: flex;
    flex-direction: row;
    height: 6em;
    width: 100%;
}
/*grid employees: */
#employees {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 400px 400px 400px;
    margin-top: 1em;
}
.leke {   
    background: #ed234c;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
.thais {
    background:blue;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
.girl-one {
    background: palegreen;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}
.girl-two {
    background: peru;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
.boy-one {
    background: greenyellow;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
}
.boy-two {
    background: blueviolet;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}

