* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
}
.header-nav {
    background-color: blueviolet;  
}
.parent-nav {
    display: flex;
    height:130px;
    width:100%;
}
ul.nav-links {
    align-items: center;
    display:flex; 
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 80%;

}
.nav-links li {
    list-style-type: none;
}
.nav-links li a {
    text-decoration: none;
}
#container {
    position: relative;
}
#grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 300px 300px;
}
#page-pointer {
    align-items: center;
    justify-content: center;
    left: 40px;
    margin: 6% 2%;
    position: absolute;
    top: 40px;
    width: 900px;
}
.courses-1 {
    background: #ed234c;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
.courses-2 {
    background: #0f234c;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
.courses-3 {
    background: #dd23aa;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}
.courses-4 {
    background: #ccf3bb;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
/* article grid: */
.article-parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 300px;
    background-color: aqua;
}
.article-one {
    background-color: pink;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
.article-two {
    background-color: burlywood;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
.article-three {
    background-color: goldenrod;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}