* {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.header-nav {
    background-color:#A9A9A9;  
}
.parent-nav {
    display: flex;
    height:130px;
    width:100%;
}
ul.nav-links {
    align-items: center;
    display:flex; 
    flex-direction: row;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 80%;

}
.nav-links li {
    list-style-type: none;
}
.nav-links li a {
    text-decoration: none;
}
#container {
    width: 100%;
}
#grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50% 50%;
    height: 100vw;
    margin: 20px 0px;
}
#page-pointer {
    align-items: center;
    justify-content: center;
    left: 30%;
    margin: 6% 2%;
    position: absolute;
    text-align: center;
    top: 20%;
    width: 40%;
}
#page-pointer span {
    background: #3f3f3f;
    color: #fff;
}
.courses-1 {
    background: #949494;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
.courses-2 {
    background: #808080;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
.courses-3 {
    background:#808080;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
}
.courses-4 {
    background: #a9a9a9;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
.grid-courses {
    align-items: center;
    display: flex;
    justify-content: center;
}
/* article one and two - grid: */
#article-parent, #article-parent-2, #list-parent {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 100%;
    grid-column-gap: 5px;
    height: 60vw;
}
.article-one, .first-list {
    border-radius: 5px;
    background-color: #DCDCDC;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    line-height: 30px;
    padding-top: 30px;
    text-align: center;
}
.article-two, .second-list {
    border-radius: 5px;
    background-color: #DCDCDC;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    line-height: 30px;
    padding-top: 30px;
    text-align: center;
}
.article-three, .third-list {
    border-radius: 5px;
    background-color: #DCDCDC;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    line-height: 30px;
    padding-top: 30px;
    text-align: center;
}
/* news letter and membership: */
#newletter-section {
    display: flex;
    flex-direction: row;
    height: 600px;
    margin: 20px 20px;
    justify-content: space-around;
    width: 100%;
}
#newletter-section .box-1 {
    background: #808080;
    border-radius: 10px;
    text-align: center;
    width: 30%;
}
#newletter-section .box-2 {
    background: #696969;
    border-radius: 60px;
    margin: 0px 35px 0px 10px;
    text-align: center;
    width: 70%;
}
input {
    border: 1px solid rgba(64,128,8);
    border-radius: 8px;
    height: 40px;
    outline: none;
    text-align: center;
    width: 80%;
}
input[type="text"] {
    font-size: 20px;
}
button {
    background-image:linear-gradient(to right, rgba(145,232,66,1) 0%, rgba(64,128,8,1) 100%);
    border-radius: 10px;
    border: 1px solid rgba(64,128,8);
    color:white;
    cursor: pointer;   
    height:70px;
    opacity:;
    width:150px;
}
/*icons: */
#icons-section {
    display: flex;
    flex-direction: row;
    height: 600px;
    margin: 20px 20px;
    justify-content: space-around;
    width: 100%;
}
#icons-section .icons-1 {
    background: #DCDCDC;
    border-radius: 10px;
    text-align: center;
    width: 30%;
}
#icons-section .icons-2 {
    background: #DCDCDC;
    border-radius: 60px;
    text-align: center;
    margin: 0px 35px 0px 10px;
    width: 70%;
}
/* links alone: */
.link-see-more {
    align-items: center;
    background-color: #D3D3D3;
    display: flex;
    height:10em;
    justify-content: center;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 5px;
}
.content-blocks {
    background: #A9A9A9;
    display: flex;
    flex-direction: column;
    height:30em;
    margin: 10px 0px;
    width: 100%;
}
.our-team {
    align-items: center;
    background: #2c2c2c;
    color: #fff;
    justify-content: center;
    text-align: center;
}
.hire-us {
    background-image:linear-gradient(to right, rgba(145,232,66,1) 0%, rgba(64,128,8,1) 100%);
    border-radius: 10px;
    border: 1px solid rgba(64,128,8);
    color:white;
    cursor: pointer;   
    height:70px;
    opacity:;
    width:150px;   
}
.hire-us:hover {
    background-image: linear-gradient(to right, rgba(210,255,82,1) 0%, rgba(34,71,0,1) 100%);
    opacity: 0.8;
}
.author-special-block {
    background: #696969;
    display: flex;
    flex-direction: row;
    height: 20em;
    padding: 10px;   
    width: 100%;
}
.author-special-block .founder-img {
    padding-right: 30px;
} 
/*grid employees: */
#employees {
    display: grid;
    grid-column-gap: 5px;
    grid-row-gap: 5px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 400px 400px 400px;
    margin-top: 1em;   
    margin-bottom: 1em; 
    
}
.leke {   
    background: #A9A9A9;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 50px; 
}
.thais {
    background: #A9A9A9;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    padding: 50px; 
}
.girl-one {
    background: #A9A9A9;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    padding: 50px; 
}
.girl-two {
    background: #A9A9A9;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    padding: 50px; 
}
.boy-one {
    background: #A9A9A9;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    padding: 50px; 
}
.boy-two {
    background: #A9A9A9;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
    padding: 50px; 
}
/*typography: */
.content-blocks-t {
    display: flex;
    justify-content: center;
    align-items: center;
}
ul  .title{
    list-style-type: none;
}
.types-fonts {
    text-align: center;
    line-height: 30px;
    padding-top: 30px;
}

/* grid list and image: */
#list-fonts-parent {
    display: grid;
    grid-column-gap: 15px;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 40em;
    margin-top: 1em;  
    margin-bottom:  1em;
}
.types-fonts {  
    background: #DCDCDC;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}
.big-fig {
    background:#696969;
    color: #fff;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;    
}
/*footer*/
footer {
    background-image: url(images/background2.png);
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top:20px;
} 
footer ul li {
    display: inline-block;
    padding-left: 20px;
} 
